@model FileUploadData.Model.FileUploadModel

@{
    ViewBag.Title = "Upload File";
}
<br />
@using (Html.BeginForm("Upload", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="panel panel-default">
        <div class="panel-heading">File Upload</div>
        <div class="panel-body">
            <div class="col-md-10">
                <input type="file" name="file" id="file" class="form-control" /><br><br>
            </div>
            <div class="col-md-2">
                <input type="submit" class="form-control" value="Upload" />
            </div>
            <br><br>
        </div>
    </div>
    @ViewBag.Message
    @ViewBag.Error
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
